$mainColor: black;
$headerColor: black;
$formColor: rgb(34, 31, 31);

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.green{
    color: #1F567C;
}

.red{
    color: rgb(173, 47, 47);
    margin-left: 20px;
    font-weight: 900;
}

.blue{
    color: rgb(24, 24, 68);
    font-weight: 900;
    border-bottom: 4px solid rgb(24, 24, 68);
}


header{
    background-color: $headerColor;
    min-height: 70px;

    h1{
        float: left;
        height: 70px;
        width: 30%;
        line-height: 2.2;
        padding-left: 60px;
        letter-spacing: -1px;
        font-family: 'Roboto', serif;
        font-weight: 900;
        border-bottom: 2px solid black;
    }

    nav{
        float: right;
        height: 70px;
        width: calc(70% - 60px);
        border-bottom: 2px solid yellow;

        ul{
            margin-right: 150px;
            float: right;
        }

        li{
            list-style: none;
            text-align: center;
            display: inline-block;
            color: white;
            font-weight: bold;
            margin: 25px 15px 0;
            letter-spacing: -1px;
            font-size: 17px;
            cursor: pointer;
        }

        li:hover{
            color: rgb(172, 170, 170);
        }
    }
}

#main-page{
    background-color: $mainColor;
    min-height: 700px;

    #pictures{
        text-align: center;
    }

    #pictures .picture{
        padding: 20px 0;
    }
}

#main-page #container{
    width: 1400px;
    margin: auto;

    .slider{
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;

        .main-box, .other-box{
            cursor: pointer;

            .box-title{
                background-color: rgba(31, 29, 29, 0);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background-color .25s linear;
            }
        }

        .main-box{
            width: 600px;
            height: 100%;
            float: left;
            box-sizing: border-box;
            position: relative;
            border-right: 6px solid $mainColor;
            overflow: hidden;

            #slide-container{
                position: absolute;
                left: 0;
                top: 0;
                width: 3000px;
                height: 100%;
            }

            .content{
                width: 600px;
                height: 100%;
                float: left;
                position: sticky;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px 0 0 5px;
                    transition: transform .25s linear;
                }
    
                &:hover img{
                    transform: rotate(5deg) scale(1.2);
                }
    
                &:hover .box-title{
                    background-color: rgba(32, 29, 29, 0.56);
                }
            }
        }

        .another-box{
            float: left;
            width: 800px;
            height: 100%;
        }

        .other-box{
            width: 400px;
            height: 50%;
            float: left;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                border-radius: 0 5px 5px 0;
                transition: transform .25s linear;
            }

            &:nth-child(odd){
                border-right: 6px solid $mainColor;
                
                img{border-radius: 0;}
            }

            .box-title{
                background-color: rgba(31, 29, 29, 0);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background-color .25s linear;
            }

            &:hover .box-title{
                background-color: rgba(32, 29, 29, 0.56);
            }

            &:hover img{
                transform: rotate(5deg) scale(1.2);
            }

            h2{
                color: white;
                width: 90%;
                padding-top: 130px;
                font-size: 28px;
                margin: auto;

                &::before{
                    content: '';
                    display: block;
                    width: 200px;
                    border-bottom: 2px solid white;
                    margin-top: 5px;
                }
            }
        }
    }

    .point{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        width: 150px;
        margin: auto;
        z-index: 2;

        div{
            width: 20px;
            height: 20px;
            margin: 0 5px;
            background-color: white;
            float: left;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

#info{
    min-height: 700px;
    background-color: $mainColor;

    .main-content{
        width: 1400px;
        margin: auto;

        #left, #right{
            float: left;
            width: 50%;
            text-align: center;
            padding-bottom: 70px;

            h1{
                font-size: 32px;
                color: white;
                text-align: center;
                padding: 0 0 40px;
                font-weight: 900;

                &::after{
                    display: block;
                    content: '';
                    width: 150px;
                    border-bottom: 2px solid red;
                    margin: auto;
                    margin-top: 10px;
                }
            }

            .news{
                padding: 20px 0;
            }
            
            .news img{
                vertical-align: top;
                width: 100px;
                height: 50px;
            }

            .news p{
                text-align: left;
                vertical-align: top;
                display: inline-block;
                margin-left: 20px;
                width: 60%;
                color: white;
                font-weight: 900;
            }
        }

        h3{
            color: red;
            padding: 20px 40px;
            clear: both;
            width: 400px;
            background-color: white;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            letter-spacing: 2px;
            box-shadow: 5px 5px 0 0 red;
            font-weight: 700;
            font-size: 20px;
        }
    }
}

#day{
    background-color: $mainColor;
    height: 1000px;

    #left{
        width: 50%;
        float: left;

        img{
            width: 80%;
            display: block;
            margin: auto;
        }
    
        p{
            width: 95%;
            margin: auto;
            color: white;
            padding-top: 50px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            letter-spacing: 1px;
            text-align: center;
        }
    }

    #right{
        float: left;
        width: 50%;

        a{
            display: block;
            margin: auto;
            width: 80%;
        }

        ul{
            width: 70%;
            margin: auto;
            padding: 50px 0 20px;
            border-bottom: 2px solid #1F567C;
        }

        ul li{
            color: #1F567C;
            padding: 5px 0;
            font-family: 'Raleway', sans-serif;
            cursor: pointer;

            span{
                color: white;
                font-size: 14px;
            }

            &:hover span{
                color: rgb(133, 177, 209);
            }
        }
    }
}

#services{
    min-height: 800px;
    background-color: rgba(133, 245, 133, 0.3);

    h1{
        text-align: right;
        font-size: 50px;
        padding: 30px 0;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-right: 140px;
    }
}

#services #content{
    padding-top: 20px;
    text-align: center;
    
    .service{
        display: inline-block;
        width: 25%;
        height: 320px;
        vertical-align: top;
        margin: 0 20px;

        img{
            width: 110px;
            display: block;
            margin: auto;
        }

        h2{
            color: rgb(18, 92, 18);
            padding: 10px 0;
            text-transform: uppercase;

            &::after{
                content: '';
                display: block;
                width: 0;
                border-bottom: 3px solid rgb(18, 92, 18);
                margin-left: 100px;
                transition: width .25s linear;
            }
        }

        &:hover h2::after{
            width: 80px;
        }

        p{
            width: 95%;
            margin: auto;
            color: rgb(18, 92, 18);
        }
    }
}

#contact{
    position: fixed;
    bottom: -115px;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: bottom .4s linear;

    &.showForm{
        bottom: 0;
    }

    #hide{
        text-align: right;
        margin-right: 170px;

        button{
            background-color: $formColor;
            border: none;
            outline: none;
            cursor: pointer;
            width: 130px;
            height: 25px;
            border-radius: 10px 10px 0 0;
        }

        button i{
            color: yellow;
            font-size: 20px;
        }
    }

    form{
        background-color: $formColor;
        text-align: center;
        padding: 10px 0;
        box-sizing: border-box;

        input,button{
            vertical-align: top;
        }

        span{
            color: yellow;
            line-height: 2.5;
            font-size: 20px;
            font-weight: 900;
            margin-right: 50px;
        }
    }

    form input{
        font-size: 20px;
        border: 1px solid yellow;
        background-color: darken($formColor, 10);
        padding: 0 20px;
        outline: none;
        height: 50px;
        box-sizing: border-box;
        color: white;
        margin: 0 10px;
    }

    form button{
        width: 180px;
        outline: none;
        border: 1px solid yellow;
        color: yellow;
        text-transform: uppercase;
        font-size: 20px;
        height: 50px;
        box-sizing: border-box;
        cursor: pointer;
        background: black;
        letter-spacing: 5px;
    }
}

@import 'media.scss';