* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

.green {
  color: #1F567C; }

.red {
  color: #ad2f2f;
  margin-left: 20px;
  font-weight: 900; }

.blue {
  color: #181844;
  font-weight: 900;
  border-bottom: 4px solid #181844; }

header {
  background-color: black;
  min-height: 70px; }
  header h1 {
    float: left;
    height: 70px;
    width: 30%;
    line-height: 2.2;
    padding-left: 60px;
    letter-spacing: -1px;
    font-family: 'Roboto', serif;
    font-weight: 900;
    border-bottom: 2px solid black; }
  header nav {
    float: right;
    height: 70px;
    width: calc(70% - 60px);
    border-bottom: 2px solid yellow; }
    header nav ul {
      margin-right: 150px;
      float: right; }
    header nav li {
      list-style: none;
      text-align: center;
      display: inline-block;
      color: white;
      font-weight: bold;
      margin: 25px 15px 0;
      letter-spacing: -1px;
      font-size: 17px;
      cursor: pointer; }
    header nav li:hover {
      color: #acaaaa; }

#main-page {
  background-color: black;
  min-height: 700px; }
  #main-page #pictures {
    text-align: center; }
  #main-page #pictures .picture {
    padding: 20px 0; }

#main-page #container {
  width: 1400px;
  margin: auto; }
  #main-page #container .slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative; }
    #main-page #container .slider .main-box, #main-page #container .slider .other-box {
      cursor: pointer; }
      #main-page #container .slider .main-box .box-title, #main-page #container .slider .other-box .box-title {
        background-color: rgba(31, 29, 29, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color .25s linear; }
    #main-page #container .slider .main-box {
      width: 600px;
      height: 100%;
      float: left;
      box-sizing: border-box;
      position: relative;
      border-right: 6px solid black;
      overflow: hidden; }
      #main-page #container .slider .main-box #slide-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 3000px;
        height: 100%; }
      #main-page #container .slider .main-box .content {
        width: 600px;
        height: 100%;
        float: left;
        position: sticky; }
        #main-page #container .slider .main-box .content img {
          width: 100%;
          height: 100%;
          border-radius: 5px 0 0 5px;
          transition: transform .25s linear; }
        #main-page #container .slider .main-box .content:hover img {
          transform: rotate(5deg) scale(1.2); }
        #main-page #container .slider .main-box .content:hover .box-title {
          background-color: rgba(32, 29, 29, 0.56); }
    #main-page #container .slider .another-box {
      float: left;
      width: 800px;
      height: 100%; }
    #main-page #container .slider .other-box {
      width: 400px;
      height: 50%;
      float: left;
      box-sizing: border-box;
      position: relative;
      overflow: hidden; }
      #main-page #container .slider .other-box img {
        width: 100%;
        height: 100%;
        border-radius: 0 5px 5px 0;
        transition: transform .25s linear; }
      #main-page #container .slider .other-box:nth-child(odd) {
        border-right: 6px solid black; }
        #main-page #container .slider .other-box:nth-child(odd) img {
          border-radius: 0; }
      #main-page #container .slider .other-box .box-title {
        background-color: rgba(31, 29, 29, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color .25s linear; }
      #main-page #container .slider .other-box:hover .box-title {
        background-color: rgba(32, 29, 29, 0.56); }
      #main-page #container .slider .other-box:hover img {
        transform: rotate(5deg) scale(1.2); }
      #main-page #container .slider .other-box h2 {
        color: white;
        width: 90%;
        padding-top: 130px;
        font-size: 28px;
        margin: auto; }
        #main-page #container .slider .other-box h2::before {
          content: '';
          display: block;
          width: 200px;
          border-bottom: 2px solid white;
          margin-top: 5px; }
  #main-page #container .point {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    z-index: 2; }
    #main-page #container .point div {
      width: 20px;
      height: 20px;
      margin: 0 5px;
      background-color: white;
      float: left;
      border-radius: 50%;
      cursor: pointer; }

#info {
  min-height: 700px;
  background-color: black; }
  #info .main-content {
    width: 1400px;
    margin: auto; }
    #info .main-content #left, #info .main-content #right {
      float: left;
      width: 50%;
      text-align: center;
      padding-bottom: 70px; }
      #info .main-content #left h1, #info .main-content #right h1 {
        font-size: 32px;
        color: white;
        text-align: center;
        padding: 0 0 40px;
        font-weight: 900; }
        #info .main-content #left h1::after, #info .main-content #right h1::after {
          display: block;
          content: '';
          width: 150px;
          border-bottom: 2px solid red;
          margin: auto;
          margin-top: 10px; }
      #info .main-content #left .news, #info .main-content #right .news {
        padding: 20px 0; }
      #info .main-content #left .news img, #info .main-content #right .news img {
        vertical-align: top;
        width: 100px;
        height: 50px; }
      #info .main-content #left .news p, #info .main-content #right .news p {
        text-align: left;
        vertical-align: top;
        display: inline-block;
        margin-left: 20px;
        width: 60%;
        color: white;
        font-weight: 900; }
    #info .main-content h3 {
      color: red;
      padding: 20px 40px;
      clear: both;
      width: 400px;
      background-color: white;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 2px;
      box-shadow: 5px 5px 0 0 red;
      font-weight: 700;
      font-size: 20px; }

#day {
  background-color: black;
  height: 1000px; }
  #day #left {
    width: 50%;
    float: left; }
    #day #left img {
      width: 80%;
      display: block;
      margin: auto; }
    #day #left p {
      width: 95%;
      margin: auto;
      color: white;
      padding-top: 50px;
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 1px;
      text-align: center; }
  #day #right {
    float: left;
    width: 50%; }
    #day #right a {
      display: block;
      margin: auto;
      width: 80%; }
    #day #right ul {
      width: 70%;
      margin: auto;
      padding: 50px 0 20px;
      border-bottom: 2px solid #1F567C; }
    #day #right ul li {
      color: #1F567C;
      padding: 5px 0;
      font-family: 'Raleway', sans-serif;
      cursor: pointer; }
      #day #right ul li span {
        color: white;
        font-size: 14px; }
      #day #right ul li:hover span {
        color: #85b1d1; }

#services {
  min-height: 800px;
  background-color: rgba(133, 245, 133, 0.3); }
  #services h1 {
    text-align: right;
    font-size: 50px;
    padding: 30px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 140px; }

#services #content {
  padding-top: 20px;
  text-align: center; }
  #services #content .service {
    display: inline-block;
    width: 25%;
    height: 320px;
    vertical-align: top;
    margin: 0 20px; }
    #services #content .service img {
      width: 110px;
      display: block;
      margin: auto; }
    #services #content .service h2 {
      color: #125c12;
      padding: 10px 0;
      text-transform: uppercase; }
      #services #content .service h2::after {
        content: '';
        display: block;
        width: 0;
        border-bottom: 3px solid #125c12;
        margin-left: 100px;
        transition: width .25s linear; }
    #services #content .service:hover h2::after {
      width: 80px; }
    #services #content .service p {
      width: 95%;
      margin: auto;
      color: #125c12; }

#contact {
  position: fixed;
  bottom: -115px;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: bottom .4s linear; }
  #contact.showForm {
    bottom: 0; }
  #contact #hide {
    text-align: right;
    margin-right: 170px; }
    #contact #hide button {
      background-color: #221f1f;
      border: none;
      outline: none;
      cursor: pointer;
      width: 130px;
      height: 25px;
      border-radius: 10px 10px 0 0; }
    #contact #hide button i {
      color: yellow;
      font-size: 20px; }
  #contact form {
    background-color: #221f1f;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box; }
    #contact form input, #contact form button {
      vertical-align: top; }
    #contact form span {
      color: yellow;
      line-height: 2.5;
      font-size: 20px;
      font-weight: 900;
      margin-right: 50px; }
  #contact form input {
    font-size: 20px;
    border: 1px solid yellow;
    background-color: #070707;
    padding: 0 20px;
    outline: none;
    height: 50px;
    box-sizing: border-box;
    color: white;
    margin: 0 10px; }
  #contact form button {
    width: 180px;
    outline: none;
    border: 1px solid yellow;
    color: yellow;
    text-transform: uppercase;
    font-size: 20px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background: black;
    letter-spacing: 5px; }

@media screen and (max-width: 900px) and (min-width: 681px) {
  header h1 {
    text-align: center;
    padding-left: 0; }

  header nav {
    width: 70%; }

  header nav ul {
    float: none;
    text-align: center;
    margin: 0; } }
@media screen and (max-width: 680px) {
  header nav {
    width: 100%;
    float: none; }

  header nav ul {
    float: none;
    text-align: center;
    margin: 0; }

  header h1 {
    float: none;
    width: 100%;
    border: none;
    padding: 0;
    text-align: center; } }
